html
{
    background-color: #ededed;
}

.body
{
    margin-top: 70px;
    min-height: calc(100vh - 80px);
}

.page-link
{
    cursor: pointer;
    font-size: medium;
}

.page-link-div
{
    margin: 5px;
    line-height: 60px;
}

.page-link-div:hover > p
{
    color: blueviolet;
}

.page-links
{
    display: flex;
    position: relative;
    flex-direction: row;
    width: calc(100vw );
    height: 70px;
    justify-content: start;
    text-align: center;
    background-color: #dadada;
    padding-left: 30px;
}

.nav-bar
{
    border-bottom: 1px solid rgb(197, 197, 197);
    position: fixed;
    top: 0;
    z-index: 9;
}

.page-link-selected-div
{
    padding-bottom: 4px;
    border-bottom: 3px solid blueviolet;
}

.page-link-selected
{
    color: blueviolet;  
}
.wrapper
{
    display: flex;
    /* flex-direction: column; */
    /* padding-top: 10px; */
    min-height: calc(100vh - 80px);
    justify-content: center;
    position: relative;
}
.content-div
{
    display: flex;
    min-height: calc(100vh - 80px);
    width: 80vw;
    margin-top: 10px;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
}


.card-info-div > span
{
    font-size: 11px;
    /* padding: 0 4px;
    border-left: 1px solid black; */
}

.info-first
{
    border-left: 0px;
    padding: 0 4px;
}

.info-middle
{
    border-left: 1px solid black;
    padding: 0 4px;
    
}


.info-last
{
    border-left: 1px solid black;
    padding: 0 4px;
}


.card-img > img
{
    width: 160px;
    height: 120px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.card
{
    display: flex;
    flex-direction: row;
    background-color: #FFFEF5;
    width: calc(100%);
    height: 120px;
    border-radius: 2px;
    transition: all 0.1s;
}

.card:hover
{
    background-color: #f9f9f9;
}

.card-a
{
    height: 120px;
    width: calc(100% - 50px);
    /* margin: 5px; */
    
    margin: 5px 25px;
    margin-right: 0px;
}
.card-text
{
    margin-left: 10px;
    margin-top: 5px;
}

.title-div
{
    width: calc(100% - 30px);
    height: 50px;
    line-height: 50px;
    margin-left: 30px;
    height: 50px;
}
.title
{
    font-weight: bold;
    font-size: x-large;
    margin-top: 10px;
}

.create-listing-wrapper
{
    display: flex;
    position: relative;
    width: calc(100vw - 50px);
    height: 50px;
    z-index: 1;
    justify-content: center;
}

.create-listing-wrapper > a
{
    display: flex;
    position: absolute;
    right: 0;
    color: green;
    font-weight: bold;
    text-decoration: underline;
    line-height: 50px;
}

.reports-listing-wrapper
{
    display: flex;
    position: relative;
    width: calc(100vw - 50px);
    height: 50px;
    z-index: 1;
}
.reports-listing-wrapper > a
{
    display: flex;
    position: absolute;
    right: 0;
    color: red;
    font-weight: bolder;
    text-decoration: underline;
}

.reports-listing-wrapper > p
{
    display: flex;
    position: absolute;
    right: 0;
    color: green;
    font-weight: bolder;
}



.no-listings > p > a
{
    color: green;
    font-weight: bold;
    text-decoration: underline;
}
.user-div
{
    display: flex;
    position: relative;
    flex-direction: row;
}

.user-icon-noselected
{
    content:url(/img/user-icon-noselected.svg);
}
.user-username
{
    transition: all 0.1s;
}

.user-icon-selected
{
    content:url(/img/user-icon-selected.svg);
}

.user-div:hover > .user-icon-noselected
{
    
    content:url(/img/user-icon-selected.svg);
}

.user-div:hover > .user-username
{
    color: blueviolet;
}

.right-link
{
    position: absolute;
    right: 0;
    margin-right: 30px;
}

.right-link-div > button
{
    color: rgb(210, 43, 43);
    font-weight: 500;
    transition: all 0.1s;
}

.right-link-div:hover > button
{
    color: rgb(255, 0, 0);
    /* transition: all 0.1s; */
}

.settings-link
{
    margin-right: 90px;
}


.listings-wrapper
{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.show-wrapper
{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* justify-content: center; */
    text-align: center;
    margin-bottom: 50px;
}

.img-wrapper
{
    display: flex;
    width: 100%;
    /* height: 50%; */
    justify-content: center;
    margin-bottom: 30px;
}

.img-wrapper img
{
    width: 100%;
    object-fit: contain;
    background-color: #C8C8C8;
    border: 2px solid #777777;
    border-radius: 3px;
}

.show-img-div
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #F0F0F0;
}

.show-title-div
{
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 100%;
    height: 100%;
    padding: 0px 5px;
}

.show-title
{
    padding-top: 10px;
    font-size: 20px;
    font-weight: 700;
}

.listed-on
{
    font-size: 12px;
    color: gray;
}

.show-text
{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* justify-content: start; */
    text-align: start;
    /* background-color: #777777; */
}
.show-text > ul > li > span
{
    display: flex;
    word-wrap: break-word;
    float: left;
    font-size: 17px;
    padding: 5px 0 5px 33px;
    width: 50%;
    color: gray;
    border-bottom: 1px solid black;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    white-space: nowrap;
}

.car-info-info
{
    color: black;
    font-size: 15px;
    font-weight: 500;
    margin-left: 5px;
}

.car-info-info > input
{
    cursor: pointer;
}

.car-info-first
{
    margin-top: 30px;
    border-top: 1px solid black;
}

.car-info-last
{
    border-bottom: 0px solid red !important;
    font-size: 20px !important;
    font-weight: 700;
}

.car-info-price
{   
    font-weight: 700;
    font-size: 20px;
    color: green;
}

.show-listedon-wrapper
{
    display: flex;
    position: relative;
    width: 100%;
    height: fit-content;
    /* height: 30px;
    background-color: aqua; */
}
.description
{
    padding: 0px 5px;
    font-size: 15px;
}

.contact-wrapper
{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.contact-div
{
    background-color: rgb(196, 196, 196);
    width: max-content;
    height: max-content;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 3px;
    
}

.contact-div-no-login
{
    position: relative;
}

.contact-div-no-login > div
{
    display: flex;
    position: absolute;
    top: -5px;
    right: -10px;
    backdrop-filter: blur(5px);
    width: calc(100% + 20px);
    height: calc(100% + 10px);
    border-radius: 3px;
    align-items: center;
    justify-content: center;

}

.contact-div-no-login > div > a
{
    color: blue;
}
 

.show-listedon-text
{
    position: absolute;
    right: 50px;
    bottom: 50px;
    /* top: calc(100vh + 30px); */
    line-height: 30px;
    height: 30px;
    padding: 0px 5px;
    color: red;
    
}

.add-title-input
{
    border-color: transparent !important;
    background-color: transparent !important;
    width: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
    resize: none;
    min-height: 30px;
    max-height: 100px;
    height: fit-content;
}
.add-title-input:focus
{
    box-shadow: none !important;
}

.add-text-input
{
    background: transparent !important;
    border-color: transparent !important;
    /* height: 36px; */
    /* width: 10px; */
    /* line-height: 30px; */
}

.add-text-input:focus
{
    box-shadow: none !important;
}

select
{
    background: transparent !important;
    border-color: transparent !important;
}

.img-preview-div
{
    display: flex;
    position: relative;
}
.image_input
{
    cursor: pointer;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

span > a
{
    
    z-index: 9;
}
.show-inner-a
{
    display: flex;
    z-index: 10;
}
.show-edit-options
{
    display: flex;
    margin-left: auto;
    margin-right: 11px;
    width: max-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.show-edit-options > div
{
    display: flex;
    margin: 9px;
}
.show-inner-a
{
    font-weight: bold;
    text-decoration: underline;
}
.show-inner-a-edit
{
    color: blue;
}

.show-inner-a-delete
{
    color: red;
}

.add-car-button-div
{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;
}
.add-car-button-div > button
{
    /* background-color: rgb(0, 219, 0); */
    color:  green;
    text-decoration: underline;
    font-size: larger;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
}

.page-switch-wrapper
{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 30px;
}

.page-switch-div > nav > div + div
{
    display: flex;
    flex-direction: column-reverse;
}
.page-switch-div > nav > div + div > div
{
    margin-top: 5px;
}

.page-switch-div > nav > .hidden > div > .relative > span > span
{
    background-color: white;
}
.page-switch-div > nav > .hidden > div > .relative > a
{
    background-color: white;
}

.filter-wrapper
{
    display: flex;
    min-height: calc(100vh - 80px);
    width: 20vw;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: #F0F0F0;
    position: absolute;
    top: -50px;
    right: 0;
}

.filter-div
{
    padding: 5px;
    height: max-content;
    text-align: center;
}

.filter-div > select
{
    width: 16vw;
    border: 1px solid black !important;
}

.filter-div > input
{
    width: 16vw;
}

.filter-div > p
{
    font-weight: bold;
}

.filt-sub
{
    color: green;
    font-size: larger;
    font-weight: bold;
}

.sub-but-div
{
    display: flex;
    width: 100%;
    justify-content: center;
}

.title-filters-div
{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.title-filters
{
    font-weight: bold;
    font-size: x-large;
    margin-top: 10px;
}
.reports-count-div
{
    position: relative;
}
.reports-count-div > p
{
    position: absolute;
    top: -10px;
    left: -10px;
    width: max-content;
    background-color: red;
    padding: 5px 10px;
    color: white;
    font-weight: bolder;
    border-radius: 10px;
}

.footer-copyright-text {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-copyright-link {
    color: #fff;
    text-decoration: none;
}

.footer-content {
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.footer-copyright {
    background-color: gray;
    color: #fff;
    padding: 15px 30px;
    text-align: center;
}

.flex-1 > span
{
    display: none !important;
}

.flex-1 > a
{
    display: none !important;
}

.validation
{
    color: #D63301;
    background-color: #FFCCBA;
}

.users-filter-wrapper
{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.users-filter-wrapper > button
{
    color: green;
    padding: 10px;
    font-weight: bolder;
}

.superadmin-wrapper
{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.user-role-select
{
    background-color:white !important;
    text-align: center;
    text-align: center;
    border: 1px solid black !important;
}

.users-filter-wrapper
{
    margin: 20px;
}

.user-name
{
    font-weight: bolder;
}

.delete-user
{
    margin-top: 5px;
    color: red;
    font-weight: bolder;
}

@media (max-width: 850px) {
    .show-wrapper
    {
        width: 70%;
    }

}


@media (max-width: 480px) {
    .body
    {
        margin-top: 50px;
    }
    .footer-copyright-wrapper 
    {
        flex-direction: column;
    }
    .footer-copyright 
    {
        padding: 10px;
    }
    .footer-copyright-text,
    .footer-copyright-link 
    {
        display: block;
    }
    .card-a
    {
        width: 100%;
        margin: 5px;
        margin-left: 10px;
        height: 90px;
    }
    .card
    {
        width: 100%; 
        height: 90px;
    }

    .filter-wrapper
    {
        width: 30vw;
    }
    .content-div
    {
        width: 70vw;
    }
    .card-info-div > span
    {
        font-size: 7px;
    }
    .card-info-div
    {
        display: flex;
        height: 10px;
        /* text-align: center; */
        justify-content: center;
        margin-top: 10px;
    }
    .card-img > img
    {
        width: 120px;
        height: 90px;
    }
    .card-title
    {
        font-size: 12px;
    }
    .card-price
    {
        font-size: 12px;
    }
    .show-wrapper
    {
        width: 100%;
        justify-content: start;
    }
    .show-text > ul > li > span
    {
        font-size: 12px;
    }
    .car-info-info
    {
        font-size: 12px;
    }
    .add-select
    {
        font-size: 12px;
    }
    select
    {
        font-size: 12px !important; 
        padding-right: 8px !important;
    }
    input
    {
        font-size: 12px !important; 
    }
    .image_preview
    {
        margin: 15px;
    }
    .car-info-last
    {
        font-size: 15px !important;
    }
    .contact-div
    {
        font-size: 13px;
    }

    .show-listedon-text
    {
        font-size: 12px;
        bottom: 20px;
        right: 20px;
    }

    .page-links
    {
        height: 50px;
    }
    .page-link-div
    {
        line-height: 40px;
    }
    .filter-div > select
    {
        width: calc(100% - 20px);
    }
    .filter-div > input
    {
        width: 100%;
    }
    .listings-wrapper
    {
        align-items: center;
    }
    .show-inner-a
    {
        font-size: 14px;
    }

}